* {
    -fx-font-family: "Arial";
}

.intercom-view.tile {
    -fx-border-color: black;
}

.button {
    -fx-background-radius: 0px;
}

.start-screen {
    -fx-background-color: rgba(53, 75, 155, 1);
}

.start-screen .label {
    -fx-text-fill: white;
    -fx-font-size: 32px;
}

.start-screen .label .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 64;
}

.sending-screen {
    -fx-background-color: silver;
}

.screen {
    -fx-spacing: 2px;
    -fx-background-color: rgba(69, 94, 166, 1);
}

.screen .vbox {
    -fx-spacing: 2px;
}

.screen .vbox .action-button,
.screen .vbox .room-button {
    -fx-alignment: center-left;
    -fx-padding: 0px 20px;
    -fx-background-color: rgba(53, 75, 155, 1);
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.screen .vbox .room-button {
    -fx-content-display: right;
}

.screen .vbox .room-button .ikonli-font-icon {
    -fx-icon-color: rgba(151, 190, 77,1);
    -fx-icon-size: 20px;
}

.response-screen {
}

.response-screen .label {
    -fx-alignment: center-left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0px 20px;
    -fx-background-color: rgba(53, 75, 155, 1);

}

.response-screen .close-button {
    -fx-background-color: rgba(151, 190, 77,1);
    -fx-text-fill: white;
    -fx-min-height: 50px;
    -fx-font-weight: bold;
}

.confirmation-screen {
}

.confirmation-screen .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-alignment: center;
}

.confirmation-screen .button-box {
}

.confirmation-screen .button-box .button {
    -fx-min-width: 60px;
}

.confirmation-screen .button-box .button.yes {
    -fx-background-color: rgba(151, 190, 77,1);
    -fx-text-fill: white;
}

.confirmation-screen .button-box .button.no {
    -fx-background-color: crimson;
    -fx-text-fill: white;
}

.cancel-button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: crimson;
    -fx-pref-height: 50px;
}

.send-button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: rgba(151, 190, 77,1);
    -fx-pref-height: 50px;
}

.button,
.toggle-button {
}

.button:pressed,
.toggle-button:pressed {
}