* {
    -fx-font-family: "Arial";
}

.intercom-view.tile {
    -fx-border-color: black;
}

.button {
    -fx-background-radius: 0px;
}

.start-screen {
    -fx-background-color: orange;
}

.sending-screen {
    -fx-background-color: silver;
}

.start-screen .label {
    -fx-text-fill: black;
    -fx-font-size: 32px;
}

.start-screen .label .ikonli-font-icon {
    -fx-icon-color: black;
    -fx-icon-size: 64;
}

.action-screen {
    -fx-background-color: white;
}

.action-screen .button {
}

.room-screen {
    -fx-background-color: white;
}

.response-screen {
    -fx-background-color: white;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.response-screen .label {
    -fx-alignment: center;
}

.response-screen .close-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-min-height: 50px;
}

.confirmation-screen {
    -fx-background-color: white;
}

.confirmation-screen .label {
    -fx-font-size: 24px;
    -fx-alignment: center;
}

.confirmation-screen .button-box {
}

.confirmation-screen .button-box .button {
    -fx-pref-height: 50px;
}

.confirmation-screen .button-box .button.yes {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.confirmation-screen .button-box .button.no {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.cancel-button {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-pref-height: 50px;
}

.send-button {
    -fx-text-fill: white;
    -fx-background-color: green;
    -fx-pref-height: 50px;
}

.button,
.toggle-button {
}

.button:pressed,
.toggle-button:pressed {
}